/* sliders text styles */
.dark-back img{
    filter: brightness(30%);
    opacity: 0.9;
}
.centered-text{
    top: 25%;
}
 .centered-text h1{
    font-size: 4vw;
}
.centered-text p{
    font-size: 1.7vw;
} 
/* courses heading styles */
.big-heading{
    font-size: 2rem;
}
 /* asking question section */
 .asking-body{
    left: 12%;
 }
/* social icon styles */
.white-color{
    color: white;
    font-size: 1.5rem;
    padding: 8px;
}
 /* footer styles */
 .height-footer{
    height: 400px;
 }